<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.rmitsolutions.mfexpert.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".MfExpertApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <service
            android:name=".auth.MfExpertAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>

        <!-- sync authenticator service -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/sync_authenticator" />
        </service>

        <!--Master sync service-->
        <service
            android:name=".sync.masters.MastersSyncService"
            android:exported="false"
            android:label="Masters">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/master_sync" />
        </service>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:exported="false"
            android:label="About"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false"
            android:label="Logout"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cbm.CbmActivity"
            android:exported="false"
            android:label="Personal Info"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".village.VillageActivity"
            android:label="Village"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".center.CenterActivity"
            android:exported="false"
            android:label="Center"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".group.GroupActivity"
            android:label="Group"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"></activity>
        <activity android:name=".sample.SampleActivity"></activity>
    </application>

</manifest>