<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.rmitsolutions.mfexpert.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MfExpertApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".auth.MfExpertAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
        <!-- sync authenticator service -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/sync_authenticator" />
        </service>
        <!-- District sync service -->
        <service
            android:name=".sync.district.DistrictSyncService"
            android:exported="false"
            android:label="Districts">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/district_sync" />
        </service>

        <!-- District sync provider -->
        <provider
            android:name=".sync.district.DistrictSyncContentProvider"
            android:authorities="@string/sync_content_authority_districts"
            android:exported="false"
            android:label="Districts"
            android:syncable="true" />

        <!-- Relation sync service -->
        <service
            android:name=".sync.relations.RelationSyncService"
            android:exported="false"
            android:label="Relations">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/relation_sync" />
        </service>

        <!-- Relations sync provider -->
        <provider
            android:name=".sync.relations.RelationSyncContentProvider"
            android:authorities="@string/sync_content_authority_relations"
            android:exported="false"
            android:label="Relations"
            android:syncable="true" />

        <!-- Occupation sync service -->
        <service
            android:name=".sync.occupation.OccupationSyncService"
            android:exported="false"
            android:label="Occupations">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/occupation_sync" />
        </service>

        <!-- Occupations sync provider -->
        <provider
            android:name=".sync.occupation.OccupationSyncContentProvider"
            android:authorities="@string/sync_content_authority_occupations"
            android:exported="false"
            android:label="Occupations"
            android:syncable="true" />

        <!-- Literacy sync service -->
        <service
            android:name=".sync.literacy.LiteracySyncService"
            android:exported="false"
            android:label="Literacy">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/literacy_sync" />
        </service>

        <!-- Literacy sync provider -->
        <provider
            android:name=".sync.literacy.LiteracySyncContentProvider"
            android:authorities="@string/sync_content_authority_literacy"
            android:exported="false"
            android:label="Literacy"
            android:syncable="true" />

        <!-- Primary Kyc sync service -->
        <service
            android:name=".sync.primarykyc.PrimaryKycSyncService"
            android:exported="false"
            android:label="Primary Kyc">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/primary_kyc_sync" />
        </service>

        <!-- Primary Kyc sync provider -->
        <provider
            android:name=".sync.primarykyc.PrimaryKycSyncContentProvider"
            android:authorities="@string/sync_content_authority_primary_kyc"
            android:exported="false"
            android:label="Primary Kyc"
            android:syncable="true" />

        <!-- Secondary Kyc sync service -->
        <service
            android:name=".sync.secondarykyc.SecondaryKycSyncService"
            android:exported="false"
            android:label="Secondary Kyc">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/secondary_kyc_sync" />
        </service>

        <!-- Secondary Kyc sync provider -->
        <provider
            android:name=".sync.secondarykyc.SecondaryKycSyncContentProvider"
            android:authorities="@string/sync_content_authority_secondary_kyc"
            android:exported="false"
            android:label="Secondary Kyc"
            android:syncable="true" />

        <!-- Loan purpose sync service -->
        <service
            android:name=".sync.loanpurpose.LoanPurposeSyncService"
            android:exported="false"
            android:label="Loan Purpose">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/loan_purpose_sync" />
        </service>

        <!-- Loan purpose sync provider -->
        <provider
            android:name=".sync.loanpurpose.LoanPurposeSyncContentProvider"
            android:authorities="@string/sync_content_authority_loan_purpose"
            android:exported="false"
            android:label="Loan Purpose"
            android:syncable="true" />

        <!-- Bank sync service -->
        <service
            android:name=".sync.banks.BankSyncService"
            android:exported="false"
            android:label="Banks">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/banks_sync" />
        </service>

        <!-- Bank sync provider -->
        <provider
            android:name=".sync.banks.BankSyncContentProvider"
            android:authorities="@string/sync_content_authority_banks"
            android:exported="false"
            android:label="Banks"
            android:syncable="true" />

        <!-- Caste sync service -->
        <service
            android:name=".sync.caste.CasteDetailSyncService"
            android:exported="false"
            android:label="Caste">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/caste_detail_sync" />
        </service>

        <!-- Caste sync provider -->
        <provider
            android:name=".sync.caste.CasteDetailContentProvider"
            android:authorities="@string/sync_content_authority_caste"
            android:exported="false"
            android:label="Caste"
            android:syncable="true" />

        <!-- House Ownership sync service -->
        <service
            android:name=".sync.houseownership.HouseOwnershipSyncService"
            android:exported="false"
            android:label="House Ownership">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/house_ownership_sync" />
        </service>

        <!-- House Ownership sync provider -->
        <provider
            android:name=".sync.houseownership.HouseOwnershipContentProvider"
            android:authorities="@string/sync_content_authority_house_ownership"
            android:exported="false"
            android:label="House Ownership"
            android:syncable="true" />

        <!-- Income Proof sync service -->
        <service
            android:name=".sync.incomeproof.IncomeProofSyncService"
            android:exported="false"
            android:label="Income Proof">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/income_proof_sync" />
        </service>

        <!-- Income Proof sync provider -->
        <provider
            android:name=".sync.incomeproof.IncomeProofContentProvider"
            android:authorities="@string/sync_content_authority_income_proof"
            android:exported="false"
            android:label="Income Proof"
            android:syncable="true" />

        <!-- Religion sync service -->
        <service
            android:name=".sync.religion.ReligionSyncService"
            android:exported="false"
            android:label="Religion">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/religion_sync" />
        </service>

        <!-- Religion sync provider -->
        <provider
            android:name=".sync.religion.ReligionSyncContentProvider"
            android:authorities="@string/sync_content_authority_religion"
            android:exported="false"
            android:label="Religion"
            android:syncable="true" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:exported="false"
            android:label="About"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="Login" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/BaseAppTheme" /> -->
        <!-- <activity -->
        <!-- android:name=".LogoutActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="Logout" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/BaseAppTheme" /> -->
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cbm.CbmActivity"
            android:exported="false"
            android:label="Personal Info"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".village.VillageActivity"
            android:label="Village"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".center.CenterActivity"
            android:exported="false"
            android:label="Center"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".group.GroupActivity"
            android:label="Group"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".sample.SampleActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:label="MfExpert"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />


        <activity
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:name=".repayment.RepaymentActivity"
            android:label="Repayment"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />


        <activity android:name=".loanUtilizationCheck.LoanUtilizationActivity"
            android:label="Loan Utilization Check"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
    </application>

</manifest>